body{
    background: linear-gradient(#035486,#010029);
    overflow: hidden;
}
.navbar{
    background-color: transparent !important;
}

.contenedor-flex{
    display: flex !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
}
/* 
@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}  */