body{
    background: linear-gradient(#035486,#010029);
    overflow: hidden;
}
.navbar{
    background-color: transparent !important;
}

/* 
@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}  */